body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/*.dropdown-menu {*/
/*    height: 350px;*/
/*}*/

/*.container {*/
/*    height: 350px;*/
/*}*/

/*.div {*/
/*    overflow:hidden;*/
/*}*/
